.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px;
}
.value, .rangeValue {
  font-size: 70px;
  font-weight: 700;
  color: rgb(7, 108, 114);
}

button {
  padding: 12px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.2s;
}

button:hover {
    opacity: 0.9;
}

button:active {
  transform: translateY(1px);
}

