.nav {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: black;
}

.link, .activeLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.activeLink {
  color:  rgb(154, 154, 154);
  border-bottom: 3px solid #DE6D6B;
}

.link:hover, .activeLink:hover {
  opacity: 0.9;
}
